.questions{
	border-bottom: solid #000000;
	padding-bottom: 5px;
}
.questions h1{
	text-align: center;
}

.chart{
	background-color: #3745b2;
	height: 28px;
	color:white;
	text-align: right;
	margin-bottom: 5px;
}
#q2 .chart{
	background-color: #f73c2e !important;
	
}

#q3 .chart{
	background-color: #fcb211 !important;
	color:black !important;
}

#q4 .chart{
	background-color: #e11bf7 !important;
	
}